<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table class="job-listing">
        <tr th:each="job : ${jobs}">
            <td>
                <p>
                    Job Id:
                    <a th:href="@{'/view/' + ${job.id}}" th:text="${job.id}"></a>
                </p>
                <p th:text="${'Name: ' + job.name}"></p>
                <p>
                    Employer:
                    <a th:href="@{'/employers/view/' + ${job.employer.id}}" th:text="${job.employer.name}"></a>
                </p>
                <p>
                    Skills:
                    <ul th:each="skill : ${job.skills}">
                        <li>
                            <a th:href="@{'/skills/view/' + ${skill.id}}" th:text="${skill.name}"></a>
                        </li>
                    </ul>
                </p>
            </td>
        </tr>
    </table>
    <div>
        <form method="get" action="/list/jobs">
            <label for="employer">Filter by Employer:</label>
            <select name="column" id="employer">
                <option value="all">All Employers</option>
                <option th:each="employer : ${employers}" th:value="${employer.id}" th:text="${employer.name}"></option>
            </select>
            <input type="submit" value="Filter">
        </form>
    </div>
</div>

</body>
</html>